/* PLAY AREA STYLING */

body {
    background-image: url("assets/clouds.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 90vh;

    margin: 0;
    padding: 0;
}

#field {
    display: flex;
    position: absolute;
    bottom: 0;
    justify-content: flex-end;
}

.field-image {
    height: 90vh;
    width: 225vh;
}

/* PLAYER STYLING */

#player {
    width: 100px;
    height: 100px;
    background: black;
    position: absolute;
    bottom: 100px;
    left: 180px;

    z-index: 2;
}